[submodule "core/src/io.github.emergentorganization.engine"]
	path = core/src/io.github.emergentorganization.engine
	url = https://github.com/EmergentOrganization/io.github.emergentorganization.engine
